<div class="body">

  <div class="box-title">
    <span class="title">Welcome back, you're awesome!</span>
    <p>Here were you leave off...</p>
  </div>


  <div class="lessons">

    <div class="header">
      <p>
        <i class="fa fa-file-text-o"></i>
        Lessons
      </p>
    </div>

    <div class="music-theory">

      <div class="lesson">
        <img src="/assets/images/Oval%2018.png" alt="avatar-2">
        <p class="active">Music Theory | Lesson 10 - Introduction to Major Chords</p>
      </div>

      <div class="lesson">
        <img src="/assets/images/Oval%2018.png" alt="avatar-2">
        <p>Music Theory | Lesson 11 - An introduction to Minor Chords</p>
      </div>

      <div class="lesson">
        <img src="/assets/images/Oval%2018.png" alt="avatar-2">
        <p>Music Theory | Lesson 12 - Scale Degrees</p>
      </div>
    </div>

    <p class="show">show more...</p>

  </div>

  <div class="line"></div>

  <div class="courses">

    <div class="header">
      <p>
        <i class="fa fa-book"></i>Courses</p>
    </div>

    <div class="instruments">
      <div class="guitar">
        <div class="progress"></div>
        <div class="progress-1"></div>
        <div class="guitar-box">
          <img src="/assets/images/guitar.jpeg" style="width:140px; height: 128px;">
          <i class="fa fa-play" style="font-size:36px;"></i>
        </div>

        <div class="label">
          <p class="instruments-text">Stringed Instruments</p>
          <span>Electric Guitar</span>
          <p class="number">3/7 lessons</p>
        </div>

      </div>

      <div class="piano">
        <div class="progress"></div>
        <div class="progress-2"></div>
        <div class="piano-box">
          <img src="/assets/images/piano.jfif" style="width:140px; height: 128px;">
          <i class="fa fa-play" style="font-size:36px;"></i>
        </div>

        <div class="label">
          <p class="instruments-text">Popular Instruments</p>
          <span>Piano</span>
          <p class="number">6/15 lessons</p>
        </div>

      </div>
    </div>
    <p class="show">show more...</p>
  </div>

  <div class="line"></div>

  <div class="challenges">
    <div class="header">
      <p>
        <i class="fa fa-trophy"></i>Challenges</p>
    </div>
    <p class="no-challenges">No challenges yet</p>
  </div>



</div>
