.body{
  display: flex;
  flex-direction: column;
}
.header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 20px 24px 19px 20px;
}

.header-content {
  display: flex;
  justify-content: space-between;
}
.header-text{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: #545555;
}
.arrow {
  margin-right: 15px;
  padding-top: 2px;
}

.title {
  height: 80px;
  padding: 20px 20px 20px 20px;
}
.title span{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  color: #545555;
}
.title-text{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  color: #9B9B9B;
}
.task{
  min-height: 397px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-text{
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 10px;
  color: #545555;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));

}
.piano{
  position: relative;
  min-width: 408px;
  width: 408px;
  height: 245px;

  display: flex;
}
.white{
  position: relative;
  width: 58px;
  height: 215.71px;
  background: #FFFFFF;
  border: 2px solid #979797;
  box-sizing: border-box;
  border-radius: 0 0 6px 6px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.key-c{
  background: #23AA84;
}
.white h1{
  position: absolute;
  left: 50%;
  top: 200px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: flex-end;
  color: #9B9B9B;
}
.black{
  width: 36px;
  height: 121.87px;
  background: #000000;
  border-radius: 0 0 6px 6px;
  margin-left: -18px;
  margin-right: -18px;
  z-index: 2;
}
.indicator{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
}
.c{
  width: 32px;
  height: 68px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 68px;
  display: flex;
  align-items: flex-end;
  color: #23AA84;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.plus-1{
  font-size: 18.54px;
  color: #545555;
}
.plus-2{
  font-size: 18.54px;
  color: #545555;
}
.e{
  width: 28px;
  height: 68px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 68px;
  display: flex;
  align-items: flex-end;
  color: #ECECEC;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.g{
  width: 37px;
  height: 68px;

  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 68px;
  display: flex;
  align-items: flex-end;
  color: #ECECEC;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.pagination-2{
  width: 88px;
  height: 9px;
  display: flex;
  justify-content: space-around;
}
.oval{
  width: 9px;
  height: 9px;

  border: 1.33333px solid #9B9B9B;
  border-radius: 50%;
}
.pagination-2 .active {
  background-color: #545555;
}

