<div class="body">

  <div class="header">
    <div class="header-content">

      <a routerLink="/lessons" class="arrow">
        <i class="fa fa-arrow-left"></i>
      </a>

      <div class="header-text">
        <p>Music Theory | Lesson 10 - Introduction to Major Chords</p>
      </div>

      <div class="circle">
        <i class="fa fa-circle-thin" style="font-size: 20px;"></i>
      </div>
    </div>
  </div>

  <div class="title">
    <span>Introducing the Major Chord</span>
    <div class="title-text">
    <p>Following on from our
      <a> Major Scales lesson</a>, the lesson will explain what Major Chords are and how to find
      them.</p>
    </div>
  </div>

  <div class="task">
    <div class="task-text">
      <p>Press together C, E and G letters to do a major chord:</p>
    </div>

    <div class="piano">
      <div class="key-c white">
        <h1>C</h1>
      </div>
      <div class="key black"></div>
      <div class="key white">
        <h1>D</h1>
      </div>
      <div class="key black"></div>
      <div class="key white">
        <h1>E</h1>
      </div>
      <div class="key white">
        <h1>F</h1>
      </div>
      <div class="key black"></div>
      <div class="key white">
        <h1>G</h1>
      </div>
      <div class="key black"></div>
      <div class="key white">
        <h1>A</h1>
      </div>
      <div class="key black"></div>
      <div class="key white">
        <h1>B</h1>
      </div>
    </div>

    <div class="indicator">
      <p class="c">C </p>
      <p class="plus-1">+</p>
      <p class="e">E </p>
      <p class="plus-2">+</p>
      <p class="g">G</p>
    </div>
  </div>

  <div class="pagination-2">
    <div class="oval active"></div>
    <div class="oval"></div>
    <div class="oval"></div>
    <div class="oval"></div>
  </div>



</div>
