.bg{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(100% 100% at 50% 0%, #686868 0%, #383838 100%);
}
.full-mask{
  max-width: 1250px;
  width: 80%;
  height: 90vh;
  background: #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  display: flex;
}
.sidenav{
  position: relative;
  height: 100%;

  background: #FAFAFA;
  box-shadow: 1px 0 0 #D1D1D1;
}
.dashboard{
  width: calc(100% - 250px);
  overflow: auto;
}





