<div class="top">
  <div class="body">
    <div class="round-avatar-a">
      <i class="fa fa-cog"></i>
    </div>
    <div class="avatar">
    </div>
    <div class="round-avatar-b">
      <i class="fa fa-bell"></i>
      <span class="icon-button">3</span>
    </div>
  </div>
  <h1>Christine</h1>
  <p>Christine Bates</p>
</div>

<div class="menu">
  <a routerLink="/dashboard" routerLinkActive="active"><i class="fa fa-home"></i>Home</a>
  <a routerLink="/lessons" routerLinkActive="active"><i class="fa fa-file-text-o"></i>Lessons</a>
  <a><i class="fa fa-book"></i>Courses</a>
  <a><i class="fa fa-trophy"></i>Challenges</a>
  <a><i class="fa fa-music"></i>Play</a>
</div>

<div class="note-button">
  <p>Disco
          <i class="fa fa-eercast"></i>
    <span style="font-weight: bold;">
      Musica
    </span>
  </p>
</div>

