.body{
  position: absolute;
  width: 950px;
  height: 860px;
  left: 0;
  top: 0;

  background: #FFFFFF;
}
.bar{
  position: absolute;
  top: 0;
  left: 0;
  width: 950px;
  height: 66px;
  background: #FFFFFF;
  color: #DADADA;
}
.nav-links{
  position: absolute;
  width: 400px;
  height: 26px;
  left: 275px;
  top: 20px;
  list-style-type: none;
  font-size: 16px;
  line-height: 22px;
}
.nav-links li{
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 26px;
  cursor: pointer;
}
.active{
  color: black;
  border-bottom: 2px solid #3DAADF;
}
.item-1{
  position: absolute;
  left: 0;
}
.item-2{
  position: absolute;
  left: 140px;
}
.item-3{
  position: absolute;
  left: 280px;
}


.box-title{
  position: absolute;
  width: 312px;
  height: 56px;
  left: 319px;
  top: 96px;
  text-align: center;
}
.title{
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #545555;
}
.box-title p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #9B9B9B;
}

.content{
  position: absolute;
  width: 792px;
  height: 613px;
  left: 79px;
  top: 182px;
}

.header{
  position: absolute;
  width: 107px;
  height: 27px;
  left: 0;
  top: 0;
}
.lessons .header p{
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #545555;
}

