<div class="body">

  <div class="header">

    <div class="icon">
      <i class="fa fa-file-text-o"></i>
      <p> Lessons</p>
    </div>

    <div class="filter">

      <div class="btn-group btn-group-1" appDropdown>
        <p class="text">
          Music Theory</p>
        <span class="caret"></span>

        <ul class="dropdown-menu">
          <li><a>A</a></li>
          <li><a>B</a></li>
        </ul>
      </div>

      <div class="btn-group btn-group-2" appDropdown>
        <p class="text">
          New</p>
        <span class="caret"></span>

        <ul class="dropdown-menu">
          <li><a>A</a></li>
          <li><a>B</a></li>
        </ul>
      </div>

    </div>
    <div class="search-wrap">
      <div class="search-box">
        <div class="search-btn">
          <i class="fa fa-search"></i>
        </div>
        <input type="text" class="input-search" placeholder="Search">
      </div>
    </div>
  </div>


  <div class="content">

    <div class="box" *ngFor="let tile of tiles; let i=index"
         routerLink="{{'/lesson/' + i}}">
      <app-lesson-tile [tile]="tile"></app-lesson-tile>
    </div>

  </div>

  <div class="show-more">
    <p>show more</p>
  </div>
</div>
