<div class="body">
  <div class="header">

    <div class="icon">
      <i class="fa fa-file-text-o" style="font-size: 20px;"></i>
      <p>Lessons</p>
    </div>

    <div class="filter">
      <div class="btn-group btn-group-1" appDropdown>
        <p class="text">
          Music Theory</p>
        <span class="caret"></span>

        <ul class="dropdown-menu">
          <li><a>A</a></li>
          <li><a>B</a></li>
        </ul>
      </div>

      <div class="btn-group btn-group-2" appDropdown>
        <p class="text">
          New</p>
        <span class="caret"></span>

        <ul class="dropdown-menu">
          <li><a>A</a></li>
          <li><a>B</a></li>
        </ul>
      </div>

    </div>
    <div class="search-wrap">
      <div class="search-box">
        <div class="search-btn">
          <i class="fa fa-search"></i>
        </div>
        <input type="text" class="input-search" placeholder="Search">
      </div>
    </div>
  </div>

  <div class="content">

    <a class="box">
      <div class="header-box bg-1">
        <p class="title">Lesson 1</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        Staffs, Clefs and Ledger Lines
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-2">
        <p class="title">Lesson 2</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        Simple and Compound Meter
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-3">
        <p class="title">Lesson 3</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        Measures and Time Signature
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-4">
        <p class="title">Lesson 4</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        An Introduction to Major Scales
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-5">
        <p class="title">Lesson 5</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        Dots and Ties
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-6">
        <p class="title">Lesson 6</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        Odd Meter
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-7">
        <p class="title">Lesson 7</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        Steps and Accidentals
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-8">
        <p class="title">Lesson 8</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        The Major Scale
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-9">
        <p class="title">Lesson 9</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        The Minor Scales
      </p>
    </a>

    <a class="box"
       routerLink="/lesson">
      <div class="header-box bg-10">
        <p class="title">Lesson 10</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        Introduction to Major Chords
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-11">
        <p class="title">Lesson 11</p>
        <img src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        An Introduction to Minor Chords
      </p>
    </a>

    <a class="box">
      <div class="header-box bg-12">
        <p class="title">Lesson 12</p>
        <img  src="/assets/images/Oval%2018.png" class="image">
      </div>
      <p class="box-text">
        Scale Degrees
      </p>
    </a>
    <div class="show-more">
      <p>show more</p>
    </div>
  </div>
</div>
